/* Variables for Mobile */

@media (max-width: 480px) {
  :root {
    --buttons-container-width: 300px;
    --buttons-container-height: 300px;
  
    --button-height: 140px;
    --button-width: 140px;
  }
}

@media (max-height: 480px) {
  :root {
    --buttons-container-width: 300px;
    --buttons-container-height: 300px;
  
    --button-height: 140px;
    --button-width: 140px;
  }
}

/* Variables for Desktop */

@media (min-width: 480px) and (min-height: 480px) {
  :root {
    --buttons-container-width: 400px;
    --buttons-container-height: 400px;
  
    --button-height: 190px;
    --button-width: 190px;
  }
}

/* Button Styling */

#buttons-container {
  width: var(--buttons-container-width);
  height: var(--buttons-container-height);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.button {
  border: none;
  height: var(--button-width);
  width: var(--button-height);
}

.button:hover {
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.4)
}

#green {
  background-color: rgb(42, 175, 42);
  border: rgb(22, 148, 22) 1px solid;

  border-radius: var(--button-width) 0 0 0;
  -moz-border-radius: var(--button-width) 0 0 0;
  -webkit-border-radius: var(--button-width) 0 0 0;
}

#red {
  background-color: rgb(255, 13, 13);
  border: rgb(187, 15, 15) 1px solid;

  border-radius: 0 var(--button-width) 0 0;
  -moz-border-radius: 0 var(--button-width) 0 0;
  -webkit-border-radius: 0 var(--button-width) 0 0;
}

#blue {
  background-color: rgb(55, 68, 255);
  border:  rgb(43, 54, 214) 1px solid;

    border-radius: 0 0 var(--button-width) 0;
  -moz-border-radius: 0 0 var(--button-width) 0;
  -webkit-border-radius: 0 0 var(--button-width) 0;
}

#yellow {
  background-color: rgb(253, 215, 0);
  border:  rgb(207, 178, 11) 1px solid;

    border-radius: 0 0 0 var(--button-width);
  -moz-border-radius: 0 0 0 var(--button-width);
  -webkit-border-radius: 0 0 0 var(--button-width);
}

/* jQuery Classes */

.clicked {
  opacity: 0.6;
}

/* Other Styling */

#root header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

#root section {
  margin-top: 20px;
}

header, section {
  display: flex;
  justify-content: center;
}